* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* APPLICATION STYLES */
body, html {
  height: 100%;
}

#container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "sidebar header header"
                      "sidebar main main"
                      "sidebar main main"
                      "sidebar main main";
}

.header {
  background-color: green;
  grid-area: header;
}

.side-bar {
  background-color: rgb(25,146,212);
  grid-area: sidebar;
}

.title-container {
  display: flex;
  align-items: center;
}

.title {
  color: white;
  margin-left: 10px;
  font-size: 1.8rem
}

.main-content {
  background-color: yellow;
  grid-area: main;
}