* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* APPLICATION STYLES */
body, html {
  height: 100%;
}

#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  grid-template-areas: "sidebar header header header"
                      "sidebar main main main"
                      "sidebar main main main"
                      "sidebar main main main";
}

.header {
  background-color: green;
  grid-area: header;
  padding: 10px;
  padding-left: 30px;
}

.side-bar {
  background-color: rgb(25,146,212);
  grid-area: sidebar;
  padding: 10px;
}

.title-container {
  display: flex;
  align-items: center;
}

.title {
  color: white;
  margin-left: 10px;
  font-size: 1.8rem
}

.main-content {
  background-color: yellow;
  grid-area: main;
}

.main-links, .other-links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 50px 0 0 10px;
}

.link {
  display: grid;
  grid-template-columns: 10px 1fr;
  column-gap: 40px;
}

.link > p {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

/* HEADER STYLES */
.header {
  grid-template-columns: 1fr;
}

.upper-header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  justify-content: space-evenly;
}

.search-bar {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  grid-column: 1 / 4;
}

.search-bar > input {
  background-color: rgb(226,232,240);
  border: none;
  width: 90%;
  border-radius: 30px;
  padding: 5px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(226,232,240);
  margin-right: 10px;
}

.profile-links {
  display: grid;
  grid-template-columns: 1fr 1fr 7fr;
  grid-column: 4 / 5;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-right: 40px;
}