* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* APPLICATION STYLES */
body, html {
  height: 100%;
}

#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "sidebar header header header"
                      "sidebar main main main"
                      "sidebar main main main"
                      "sidebar main main main";
}

.header {
  background-color: green;
  grid-area: header;
}

.side-bar {
  background-color: rgb(25,146,212);
  grid-area: sidebar;
  padding: 10px;
}

.title-container {
  display: flex;
  align-items: center;
}

.title {
  color: white;
  margin-left: 10px;
  font-size: 1.8rem
}

.main-content {
  background-color: yellow;
  grid-area: main;
}

.main-links, .other-links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 50px 0 0 10px;
}

.link {
  display: grid;
  grid-template-columns: 10px 1fr;
  column-gap: 40px;
}

.link > p {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}